echo "dist/" >> .gitignore
echo "build/" >> .gitignore
echo "*.exe" >> .gitignore
echo "*.pkg" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo ".venv/" >> .gitignore
echo "venv/" >> .gitignore
